
<nav id="footer" class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="#">
      <img id="logo" src="../assets/img/logo.jpg" style="height:34px;" alt="Etsy Logo">
    </a>
    <ul class="navbar-nav">
      <p class="nav-link" id="first-line">Lux Bar Crawls for Boojie People</p>
      <p class="nav-link" id="second-line">© 2019 Bar Crawl, Inc.</p>
    </ul>
  </div>
</nav>
