<div style="padding-top:20%; padding-bottom:2em; padding-left:10em; padding-right:10em;">
    <div>
        <label class="searchLabel">Start Location</label>
        <input type="text" [(ngModel)]="start" />
        <label class="searchLabel" style="margin-left: 10px">Range (in seconds)</label>
        <input type="text" [(ngModel)]="range" style="margin-left: 10px" />
        <input type="text" placeholder="Search places..." [(ngModel)]="query" style="margin-left: 10px"/>
        <button class="btn btn-info" (click)="map.route(start, range); map.places(query)" style="margin-left: 5px">Search</button>
        <a routerLink="bars" style="color: black; margin-left: 20em;"> LIST BARS</a>
      </div>
    </div>
<div #map [style.width]="width" [style.height]="height" style="padding-left:10em; padding-right:10em; padding-bottom:2em"></div>
