
<header class="header">
  <div class="header__text-box">
      <h1 class="heading-primary">
          <span class="heading-primary--main">Bar Crawl</span>
          <span class="heading-primary--sub">Find some bars</span>
      </h1>
      <a href="./bars" class="btn btn--white btn--animated">Discover Bars</a>
  </div>
</header>
<main>
  <section class="section-about">
      <div class="u-center-text">
          <h2 class="heading-secondary">
              Luxe Bar Crawls For Bougie People
          </h2>
      </div>
      <div class="grid">
          
          <div class="grid-text">
              <h3 class="heading-tertiary">The best way to experience the chicest bars in Seattle</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quod blanditiis ab ipsum quaerat, doloribus est sunt exercitationem tempora eos itaque quia maiores, animi eius officiis. Deleniti, assumenda rem! Voluptate?</p>
              <h3 class="heading-tertiary">Only the finest for our clients</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quod blanditiis ab ipsum quaerat, doloribus est sunt exercitationem tempora eos itaque quia maiores, animi eius officiis. Deleniti, assumenda rem! Voluptate?</p>
          </div>
          <div class="grid-images">
              <div class="composition">
                  <img src="img/wine-bar.jpg" alt="" class="composition__photo composition__photo--p1">
                  <img src="img/phinney.jpg" alt="" class="composition__photo composition__photo--p2">
                  <img src="img/unicorn.png" alt="" class="composition__photo composition__photo--p3">
              </div>
          </div>
      </div>
  </section>
</main>

<div class="search">
    <div class="form">
        <label class="searchLabel">Start Location (Street Address): </label>
        <input type="text" [(ngModel)]="start" /> <br>
        <label class="searchLabel" style="margin-left: 10px">Range(walk time in minutes): </label>
        <input type="text" [(ngModel)]="range" style="margin-left: 10px" />
        <br>
        <button class="btn btn--white btn--animated" (click)="map.route(start, range, query)">Search</button>
    </div>
</div>

<here-map
  #map
  appId="DEd7oRQY19pWOmIZlVd3"
  appCode="fUHqreQHv4u572-OKbhcHg"
  lat="47.60188"
  lng="-122.33402"
  width="100%"
  height="1000px">
</here-map>

<section class="section-bars">
  <div class="u-center-text">
      <h2 class="heading-secondary">
          Check out all of the bars
      </h2>
  </div>
  <div class="bar-grid">
      <div class="card">
          <div class="card__side card__side--front">
              <h4 class="card__heading">
                  <span class="card__heading-span">Dead line</span>
                      
              </h4>
              <div class="overlay">
              </div>
              <img id="image" src="/assets/img/deadline copy.jpg" alt="">
          </div>
          <div class="card__side card__side--back">
              
                  <div class="card__details">
                      <ul>
                          <li>(206) 556-4956</li>
                          <li>114 1st Ave S Seattle, WA 98104</li>
                          <li>https://deadlineseattle.com/</li>
                          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                      </ul>
                  </div>
          </div>
      </div>
      <div class="card">
              <div class="card__side card__side--front">
                  <h4 class="card__heading">
                      <span class="card__heading-span">Radiator Whiskey</span>
                          
                  </h4>
                      <img  src="/assets/img/radiator-whiskey copy.jpg" alt="">
                  
              </div>
              <div class="card__side card__side--back">
                  
                      <div class="card__details">
                          <ul>
                              <li>(206) 467-4268</li>
                              <li>94 Pike St Ste 30
                                  Seattle, WA 98101</li>
                              <li>www.radiatorwhiskey.com</li>
                              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                          </ul>
                      </div>
              </div>
          </div>
          <div class="card">
                  <div class="card__side card__side--front">
                      <h4 class="card__heading">
                          <span class="card__heading-span">The Forge Lounge</span>
                              
                      </h4>
                      
                          <img  src="/assets/img/forge copy.jpg" alt="">
                      
                      
                  </div>
                  <div class="card__side card__side--back">
                      
                          <div class="card__details">
                              <ul>
                                  <li>(206) 623-5107</li>
                                  <li>65 Marion St
                                      Seattle, WA 98104</li>
                                  <li>www.theforgelounge.com</li>
                                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                              </ul>
                          </div>
                  </div>
              </div>
              <div class="card">
                      <div class="card__side card__side--front">
                          <h4 class="card__heading">
                              <span class="card__heading-span">The Terrace Lounge</span>
                                  
                          </h4>
                              <img  src="/assets/img/terrace copy.jpg" alt="">
                      </div>
                      <div class="card__side card__side--back">
                          
                              <div class="card__details">
                                  <ul>
                                      <li>(206) 621-7889</li>
                                      <li>411 University St
                                          Seattle, WA 98101</li>
                                      <li>www.fairmont.com</li>
                                      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                  </ul>
                              </div>
                      </div>
                  </div>
                  <div class="card">
                          <div class="card__side card__side--front">
                              <h4 class="card__heading">
                                  <span class="card__heading-span">Zig Zag Cafe</span>
                                      
                              </h4>
                                  <img  src="/assets/img/zigzag copy.jpg" alt="">
                              
                          </div>
                          <div class="card__side card__side--back">
                              
                                  <div class="card__details">
                                      <ul>
                                          <li>(206) 625-1146</li>
                                          <li>1501 Western Ave Ste 202
                                              Seattle, WA 98101</li>
                                          <li>www.zigzagseattle.com</li>
                                          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                      </ul>
                                  </div>
                          </div>
                      </div>
                      <div class="card">
                              <div class="card__side card__side--front">
                                  <h4 class="card__heading">
                                      <span class="card__heading-span">Polar Bar</span>
                                          
                                  </h4>
                                      <img  src="/assets/img/polarbar copy.jpg" alt="">
                              </div>
                              <div class="card__side card__side--back">
                                  
                                      <div class="card__details">
                                          <ul>
                                              <li>(206) 340-0340</li>
                                              <li>700 3rd Ave
                                                  Seattle, WA 98104</li>
                                              <li>www.polarbar.com</li>
                                              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                          </ul>
                                      </div>
                              </div>
                          </div>
                          <div class="card">
                                  <div class="card__side card__side--front">
                                      <h4 class="card__heading">
                                          <span class="card__heading-span">Alibi Room</span>
                                              
                                      </h4>
                                          <img  src="/assets/img/alibi copy.jpg" alt="">
                                  </div>
                                  <div class="card__side card__side--back">
                                      
                                          <div class="card__details">
                                              <ul>
                                                  <li>(206) 623-3180</li>
                                                  <li>85 Pike St Ste 410
                                                      Seattle, WA 98101</li>
                                                  <li>www.seattlealibi.com</li>
                                                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                              </ul>
                                          </div>
                                  </div>
                              </div>
                              <div class="card">
                                      <div class="card__side card__side--front">
                                          <h4 class="card__heading">
                                              <span class="card__heading-span">Bathtub Gin & Co</span>
                                                  
                                          </h4>
                                              <img  src="/assets/img/bathtub copy.jpg" alt="">
                                      </div>
                                      <div class="card__side card__side--back">
                                          
                                              <div class="card__details">
                                                  <ul>
                                                      <li>(206) 728-6069</li>
                                                      <li>2205 2nd Ave
                                                          Seattle, WA 98121</li>
                                                      <li>www.bathtubginseattle.com</li>
                                                      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                                  </ul>
                                              </div>
                                      </div>
                                  </div>
  </div>
</section>