<div style="padding-bottom: 20px">
    <div>
        <label class="searchLabel">Start</label>
        <input type="text" [(ngModel)]="start" />
        <label class="searchLabel" style="margin-left: 10px">Range</label>
        <input type="text" [(ngModel)]="range" style="margin-left: 10px" />
        <br>
        <input type="text" placeholder="Search places..." [(ngModel)]="query" />
        <button (click)="map.route(start, range); map.places(query)" style="margin-left: 5px">Search</button>
    </div>
</div>

<here-map
  #map
  appId="DEd7oRQY19pWOmIZlVd3"
  appCode="fUHqreQHv4u572-OKbhcHg"
  lat="47.60188"
  lng="-122.33402"
  width="100%"
  height="1500px">
</here-map>
