<h3 id="title-second-part-2"> First Round: Bars less than 10mn By Walk From your Place</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="https://deadlineseattle.com/">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/aCxPFvzppDcY6lqDSYzT5A/ls.jpg"></a><br>
      <h4>Dead Line</h4>
      <p><app-phone></app-phone>(206) 556-4956</p>
      <p>114 1st Ave S Seattle, WA 98104</p>
    </div>
    <div class="col">
      <a href="https://www.yelp.com/biz_redir?url=https%3A%2F%2Fflatstickpub.com%2Fpioneer-square%2F&website_link_type=website&src_bizid=NWI6KcFVz8y7BC6mPrIY6A&cachebuster=1561503943&s=4546f135817b5c617569f39d8e4fccb24a84377df8d0da0e164d8000133a05d9">
      <img  src="https://s3-media4.fl.yelpcdn.com/bphoto/5BTOkL67yBEkTkJsEZqg3Q/ls.jpg"></a>
      <h4>Flastick Pub </h4>
      <p><app-phone></app-phone>(206) 682-0608</p>
      <p>240 2nd Ave S Seattle, WA 98104</p>
    </div>
    <div class="col">
      <a href="https://thearcticclubseattle.com/dining-libations/polar-bar/">
      <img  src="https://s3-media2.fl.yelpcdn.com/bphoto/hJVPry2eJZIce2vfBpibIw/ls.jpg"  alt="picture"></a>
      <h4>PolarBar</h4>
      <p><app-phone></app-phone>(206) 340-0340</p>
      <p>700 3rd Ave Seattle, WA 98104</p>
    </div>

    <div class="col">
      <a href="http://rabbitholeseattle.com/">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/Jq7BQERDS0JQH9npok3osQ/ls.jpg"></a>
      <h4>Rabbit Hole</h4>
      <p><app-phone></app-phone>(206) 956-4653</p>
      <p>2222 2nd Ave Seattle, WA 98121</p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/504012721/moon-phases-wall-art-celestial-printable?ref=hp_prn&bes=1">
      <img  src="https://s3-media2.fl.yelpcdn.com/bphoto/WJL-nojzk9cKpPGP39dBgQ/ls.jpg"></a>
      <h4>Bar Moxy</h4>
      <p><app-phone></app-phone>(206) 708-8200</p>
      <p>1016 Republican St Seattle, WA 98109</p>
    </div>
    <div class="col">
      <a href="https://www.2ndandbelltown.com/jupiter">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/YJhXajLLACLwMdQdjfBdug/ls.jpg"></a>
      <h4>Jupiter Bar</h4>
      <p><app-phone></app-phone>(206) 448-2043</p>
      <p>2126 2nd Ave</p>
    </div>
  </div>
</div><br>

<h3 id="title-second-part-2"> Second Round : Bars 5mn by Walk from 1st Round Bars</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="https://deadlineseattle.com/">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/aCxPFvzppDcY6lqDSYzT5A/ls.jpg"></a><br>
      <h4>Dead Line</h4>
      <p><app-phone></app-phone>(206) 556-4956</p>
      <p>114 1st Ave S Seattle, WA 98104</p>
    </div>
    <div class="col">
      <a href="https://www.yelp.com/biz_redir?url=https%3A%2F%2Fflatstickpub.com%2Fpioneer-square%2F&website_link_type=website&src_bizid=NWI6KcFVz8y7BC6mPrIY6A&cachebuster=1561503943&s=4546f135817b5c617569f39d8e4fccb24a84377df8d0da0e164d8000133a05d9">
      <img  src="https://s3-media4.fl.yelpcdn.com/bphoto/5BTOkL67yBEkTkJsEZqg3Q/ls.jpg"></a>
      <h4>Flastick Pub </h4>
      <p><app-phone></app-phone>(206) 682-0608</p>
      <p>240 2nd Ave S Seattle, WA 98104</p>
    </div>
    <div class="col">
      <a href="https://thearcticclubseattle.com/dining-libations/polar-bar/">
      <img  src="https://s3-media2.fl.yelpcdn.com/bphoto/hJVPry2eJZIce2vfBpibIw/ls.jpg"  alt="picture"></a>
      <h4>PolarBar</h4>
      <p><app-phone></app-phone>(206) 340-0340</p>
      <p>700 3rd Ave Seattle, WA 98104</p>
    </div>

    <div class="col">
      <a href="http://rabbitholeseattle.com/">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/Jq7BQERDS0JQH9npok3osQ/ls.jpg"></a>
      <h4>Rabbit Hole</h4>
      <p><app-phone></app-phone>(206) 956-4653</p>
      <p>2222 2nd Ave Seattle, WA 98121</p>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/listing/504012721/moon-phases-wall-art-celestial-printable?ref=hp_prn&bes=1">
      <img  src="https://s3-media2.fl.yelpcdn.com/bphoto/WJL-nojzk9cKpPGP39dBgQ/ls.jpg"></a>
      <h4>Bar Moxy</h4>
      <p><app-phone></app-phone>(206) 708-8200</p>
      <p>1016 Republican St Seattle, WA 98109</p>
    </div>
    <div class="col">
      <a href="https://www.2ndandbelltown.com/jupiter">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/YJhXajLLACLwMdQdjfBdug/ls.jpg"></a>
      <h4>Jupiter Bar</h4>
      <p><app-phone></app-phone>(206) 448-2043</p>
      <p>2126 2nd Ave</p>
    </div>
  </div>
</div><br>

<h3 id="title-second-part-2"> Others Bars</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="https://deadlineseattle.com/">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/aCxPFvzppDcY6lqDSYzT5A/ls.jpg"></a><br>
      <h4>Dead Line</h4>
      <p><app-phone></app-phone>(206) 556-4956</p>
      <p>114 1st Ave S Seattle, WA 98104</p>
    </div>
    <div class="col">
      <a href="https://www.yelp.com/biz_redir?url=https%3A%2F%2Fflatstickpub.com%2Fpioneer-square%2F&website_link_type=website&src_bizid=NWI6KcFVz8y7BC6mPrIY6A&cachebuster=1561503943&s=4546f135817b5c617569f39d8e4fccb24a84377df8d0da0e164d8000133a05d9">
      <img  src="https://s3-media4.fl.yelpcdn.com/bphoto/5BTOkL67yBEkTkJsEZqg3Q/ls.jpg"></a>
      <h4>Flastick Pub </h4>
      <p><app-phone></app-phone>(206) 682-0608</p>
      <p>240 2nd Ave S Seattle, WA 98104</p>
    </div>
    <div class="col">
      <a href="https://thearcticclubseattle.com/dining-libations/polar-bar/">
      <img  src="https://s3-media2.fl.yelpcdn.com/bphoto/hJVPry2eJZIce2vfBpibIw/ls.jpg"  alt="picture"></a>
      <h4>PolarBar</h4>
      <p><app-phone></app-phone>(206) 340-0340</p>
      <p>700 3rd Ave Seattle, WA 98104</p>
    </div>

    <div class="col">
      <a href="http://rabbitholeseattle.com/">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/Jq7BQERDS0JQH9npok3osQ/ls.jpg"></a>
      <h4>Rabbit Hole</h4>
      <p><app-phone></app-phone>(206) 956-4653</p>
      <p>2222 2nd Ave Seattle, WA 98121</p>
    </div>
    <div class="col">
      <a href="https://www.marriott.com/hotels/travel/seaox-moxy-seattle-downtown/">
      <img  src="https://s3-media2.fl.yelpcdn.com/bphoto/WJL-nojzk9cKpPGP39dBgQ/ls.jpg"></a>
      <h4>Bar Moxy</h4>
      <p><app-phone></app-phone>(206) 708-8200</p>
      <p>1016 Republican St Seattle, WA 98109</p>
    </div>
    <div class="col">
      <a href="https://www.2ndandbelltown.com/jupiter">
      <img  src="https://s3-media1.fl.yelpcdn.com/bphoto/YJhXajLLACLwMdQdjfBdug/ls.jpg"></a>
      <h4>Jupiter Bar</h4>
      <p><app-phone></app-phone>(206) 448-2043</p>
      <p>2126 2nd Ave</p>
    </div>
  </div>
</div><br>
  <app-footer></app-footer>
